/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/


body {
    background-image: url(https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg);
    background-size: cover;
    width: 100%;
   }

h1{
    font-size: 3rem;
    /* margin: 15%; */
    width: 70%;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(180deg, blue, red);
    color: blueviolet;
    text-shadow: 2px 2px 3px yellow;
    text-decoration: underline;
    margin-left: 15%;
    margin-right: 15%;

}

#row1{
    margin-left: 15%;
}

#row2{
    margin-left: 45%;
}

#jordans-1-desc{
    font-size: 1rem;
    width: 600px;
    border-style: solid;
    border-color: red;
    border-radius: 10px;
    background-color: rgb(175, 203, 238) ;
    padding: .5em;
    text-align: left;
    color: white;
  }



#jordans-2-desc{
    font-size: 1rem;
    width: 600px;
    border-style: solid;
    border-color: green;
    border-radius: 10px;
    background-color: red;
    padding: .5em;
    text-align: left;
    color: white;
}

img{
    border-radius: 8px;
    width: 600px;

}

#jordans-1{
    border: 1px solid;
    box-shadow: 5px 5px blue
}

#jordans-2{
    border: 1px solid;
    box-shadow: -5px -5px red
}

p{
    font-family: Copperplate;
    text-transform: uppercase;
}

